In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv("boston.data.csv")

In [4]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [5]:
df.shape

(506, 14)

In [6]:
df.size

7084

In [7]:
df.dtypes

crim       float64
zn         float64
indus      float64
chas         int64
nox        float64
rm         float64
age        float64
dis        float64
rad          int64
tax          int64
ptratio    float64
b          float64
lstat      float64
medv       float64
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  b        506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [9]:
df.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [10]:
df.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

In [11]:
df.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

In [12]:
df.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

In [15]:
X=df[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
y=df['medv']

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=101)

In [17]:
 from sklearn.linear_model import LinearRegression

In [18]:
LR=LinearRegression()

In [19]:
LR.fit(X_train,y_train)

LinearRegression()

In [20]:
y_pred=LR.predict(X_test)

In [21]:
print(y_pred)

[40.11113508 27.38971873 16.64700435 16.98475572 31.12920137 32.17489772
 38.5534506   8.16734819 33.48547457  7.21877263 30.45404514 13.44085219
 16.25354375 17.34359227 25.1543491  20.44171457  7.30340549 33.13892161
 28.41293108 24.58522513 12.44673568 20.25489284 22.48601345 24.42119495
 33.92740928 18.63104614 32.32820984 18.67352155 27.36115374 34.46174375
 19.84089751 18.40373436 37.15821555 44.94610923 30.27513579 22.00760066
 16.0127978  18.16328402  4.33298095 30.93867591 24.15262229 17.17277775
 34.10334259 13.89433899 17.46893797 25.30893285 30.35309561 16.10339452
 26.91513852 22.98227547 32.14815603 37.34454946 22.90074019 17.56894548
 30.18430234  0.10360753 20.22573888 16.82248142 23.15487984 21.16760077
 30.5734497   3.15502223 15.92340596 20.06361892 10.43608925 24.28745773
 24.00445196 19.86245393 17.63614975 19.44871423 23.81075322 21.16261396
 23.47439589 19.98453898 27.05134381 21.84066905 36.80150664  8.16676015
 28.70036278 17.12188494 15.50979745 19.294246   30.15336215 17.37264235
 10.73425764 21.52916918 21.69200241 33.12540671 22.30189309 21.94929448
 12.85610293 11.57605846 22.66292798 33.65426492  6.08353957 34.76875886
  7.95929671 31.90690271  8.7752099  20.72989525 32.72047022 21.34319049
 27.16332024 24.1623896  22.68986244 25.17800744 24.52779596 30.66139018
 37.3362994  33.2147882  23.21825086 36.13381973 23.89682341 22.07728572
 30.06489707 27.24105283 29.31188864 31.45057926 26.74107102 29.58735987
 16.90021886 20.60029568 21.96586941 36.77042006 25.24859328 23.08568697
 15.32758657  5.918702   14.80932341 23.67342037 26.74592331 34.09978093
 23.93815977 19.9868425  24.73687974 26.10434151 30.71721237 26.62262586
 34.1263333  22.67915823 13.13096496 36.60828941 32.25783559 15.89281425
 24.785974   19.32107821 19.5968184  24.52106619 26.34621695 29.83423805
 16.69898193 16.61243821]

In [22]:
y_test

195    50.0
4      36.2
434    11.7
458    14.9
39     30.8
       ...
213    28.1
269    20.7
278    29.1
17     17.5
391    23.2
Name: medv, Length: 152, dtype: float64

In [24]:
from sklearn.metrics import mean_squared_error

In [25]:
mse=mean_squared_error(y_test,y_pred)

In [26]:
mse

28.547585271468137